@import "tailwindcss";

@theme {
  --color-background: #fafaf9;
  --color-surface: #efefef;
  --color-muted: #555555;
  --color-primary: #171717;
  --color-border: #e2e2e2;
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
}